body {
    background-color: white;

    @media (min-width: 768px) {
        /* background-color: black; */
    }

    @media (min-width: 1200px) {
        background-color: white;
    }
}

.column {
    width: 100%;
    padding: 12px;
    border: solid;
    border-color: pink;
    font-family: cursive;

    @media (min-width: 768px) {
        float: left;
        width: 45%;
    }
}